.menu_item {
	padding-left:50px;
	padding-right:50px;
	background:#dddddd;
	border-radius:25px;
	cursor: pointer;
	
}
.menu_item_selected {
	border:2px solid #2E2E2E;
}
.menu_item_unselected {
	border:2px solid #BDBDBD;
}
.selected {
	border:2px solid #a1a1a1;
	border-radius:5px;
}
.unselected {
	border:2px solid #ffffff;
	border-radius:5px;
}
.drug_selector{
	padding-left:5px;
	padding-right:5px;
	width:100px;
	cursor: pointer;
}
.drug_list{
	width:45px;
}
td{
	vertical-align: top;
}
tr{
	vertical-align:top;
}

.drug_group_input{
	width:800px;
}
.drug_group_name{
	width:50px;
}